body {
  background: #0d1117;
  color: #c9d1d9;
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  padding: 30px;
  text-align: center;
  background: #161b22;
  border-bottom: 1px solid #30363d;
}

.subtitle {
  color: #8b949e;
  margin-top: 5px;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 40px;
}

.card {
  background: #161b22;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 255, 180, 0.1);
  border: 1px solid #30363d;
}

.card h2 {
  margin-top: 0;
  color: #58a6ff;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background: #0d1117;
  border: 1px solid #30363d;
  border-radius: 8px;
  color: white;
}

button {
  background: #238636;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}

.terminal {
  font-family: "Courier New", monospace;
  color: #00ff90;
  background: #0d1117;
}

#terminal-output {
  white-space: pre-wrap;
  height: 200px;
  overflow-y: auto;
  border-top: 1px solid #30363d;
  margin-top: 10px;
  padding-top: 10px;
}

.disclaimer {
  text-align: center;
  color: #8b949e;
  margin: 30px 0;
  font-size: 0.9rem;
}
